# Zalo App
ZALO_APP_SECRET=N4u1O63iURgLV6G78ANp
ZALO_APP_ID=4408086432808610647
ZALO_OA_TOKEN=your_oa_access_token_here
ZALO_REFRESH_TOKEN=your_refresh_token_here

# Gemini API
GEMINI_API_KEY=your_gemini_api_key_here

# Google Sheets CSV URLs (từ "Xuất bản lên web")
SHEETS_CSV_FAQ=https://docs.google.com/spreadsheets/d/e/2PACX-1vR2Qv9shwWB-rmd57sbl9Uhr1ScDLNbhW5gUtkPkkPwh6JRqZHFtIcq4cpVBlUwehSkvWqvIp7W4sYi/pub?gid=2020350031&single=true&output=csv
SHEETS_CSV_SERVICES=your_services_sheet_csv_url_here

# Server
PORT=3000
